.tabM{width: 100%; margin: 0 18px;}
.tabM a{display: block; width: 50%; float: left; text-align: center; padding: 20px 0; color: #949494; font-size: 16px;}
.tabM a.act{font-weight: bold; color: #000; border-bottom: 2px solid #000;}

.tabC{clear: both; border-top: 1px solid #ededed;}
.tabC ul{min-width: 360px;}
.tabC ul li{border-bottom: 1px solid #ededed; padding: 24px; overflow: hidden;}
.tabC span{display: block;}
.tabC .tit{font-size: 16px; padding-bottom: 14px;}
.tabC .date{font-size: 12px; color: #a0a0a0;}


.tabC>div>p{text-align: center; padding: 40px;}

.tabC #gong{/*display: none;*/}
.tabC #gong ul{}
.tabC #gong ul li{}
.tabC #gong ul li a{}
.tabC #gong ul li a .con{float: left;/* width: 558px; min-width: 270px;*/}
.tabC #gong ul li a .con .tit{}
.tabC #gong ul li a .con .date{}
.tabC #gong ul li a .icon{float: right; width: 34px;}
.tabC #gong ul li a .icon span{width: 13px; height: 15px; text-indent: -9999em; background-position: -103px -20px; margin-top: 15px;}

.tabC #event{display: none;}
.tabC #event ul{}
.tabC #event ul li{}
.tabC #event ul li a{}
.tabC #event ul li a .imgBox{float: left;}
.tabC #event ul li a .txtBox{float: left; padding: 20px; min-width: 200px;}
.tabC #event ul li a .txtBox .tit{padding-bottom: 35px;}
.tabC #event ul li a .txtBox .date{}
.tabC #event ul li a .con .kabank{width: 13px; height: 15px; text-indent: -9999em; background-position: -103px -20px; float: right; margin-top: 50px;}
.tabC #event p{}